= form_with scope: :board, url: boards_path, local: true do |f|
  - if  @board.errors.any?
    #error_explanation
      .alert.alert-primary
        = pluralize(@board.errors.count, 'error')
        prohibited
        this board from being saved:
        - @board.errors.full_messages.each do |msg| 
          = msg
          
  = f.label :name
  = f.text_field :name, autofocus: true
  = f.submit class: "btn btn-primary"
