= link_to t('.back'), boards_path
%h2 
  = @board.name
= page_entries_info @responses
- @responses.each do |res|
  .response__container
    = res.reply_id
    .response__name
      = res.name 
    .response__date
      = l(res.created_at, format: :response)
    .response__content
      = simple_format(res.content)

= paginate @responses

- if  @response.errors.any?
  #error_explanation
    .alert.alert-primary
      = pluralize(@response.errors.count, 'error')
      prohibited
      this board from being saved:
      - @response.errors.full_messages.each do |msg| 
        = msg
= form_with scope: :response, url: responses_path, local: true do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name, autofocus: true
    %br
    = f.label :content
    %br
    = f.text_area :content
    %br
    = f.hidden_field :board_id , value: @board.id
    %br
      = f.submit class: 'btn btn-primary btn-sm'
